# Modules

In [2]:
import pandas as pd
from sympy import *

# Data

In [3]:
data = pd.read_csv("data.txt")
data=data.round()
data.index = ["practice-1", "practice-2"]
data

            Th(K)  Patm (mmHg)  Ta(K)  Vh(mL)  Vc(mL)
practice-1    361          563    287     310      69
practice-2    364          563    288     310      76

In [4]:
data_mean = data.mean().round(3)
data_mean = pd.DataFrame(
    {"mean-values": data_mean}
)
data_mean=data_mean.round(1)
data_mean

             mean-values
Th(K)              362.5
Patm (mmHg)        563.0
Ta(K)              287.5
Vh(mL)             310.0
Vc(mL)              72.5

# $V_a=V_h - V_c$

In [5]:
Va_mean=data_mean.at["Vh(mL)","mean-values"] - data_mean.at["Vc(mL)","mean-values"]
"Va = "+str( Va_mean.round(1) ) + " mL"

'Va = 237.5 mL'

# $m_1 = \frac{V_h-V_a}{T_h-T_a}$

In [8]:
m_1_mean = ( data_mean.at[ "Vh(mL)","mean-values"   ] - Va_mean ) /(    data_mean.at[ "Th(K)","mean-values"   ]   -   data_mean.at[ "Ta(K)","mean-values"   ]   )

"m1 = " +str( m_1_mean.round(1) ) + " mL/K"

'm1 = 1.0 mL/K'

# $m_2 = \frac{V_h}{T_h}$

In [9]:
m_2_mean = data_mean.at[ "Vh(mL)","mean-values"   ] /  data_mean.at[ "Th(K)","mean-values"   ]

"m2 = "+str( m_2_mean.round(1) ) + " mL/K"

'm2 = 0.9 mL/K'