# Modules

In [9]:
import pandas as pd

# Data

In [10]:
calorimeter = pd.read_csv("calorimeter.txt")
neutralization = pd.read_csv("neutralization-reaction.txt")
solution = pd.read_csv("solution.txt")
m_water_cold = 20 #g
m_water_hot = 10 #g
c_water = 4.18/1000 # kJ/gC
m_NaOH = 20 #g
m_HCl = 20 #g
mols_U = 1 / 60
mols_HCl = 20 * (10**-3)
m_water_solution = 40 #g

In [11]:
calorimeter

   Tc(C)  Th(C)  deltaT(C)
0   16.1   45.5        7.4
1   18.5   50.0        7.8

In [12]:
neutralization

   Ti(C)  Tf(C)  deltaT(C)
0   17.2   22.8        5.9
1   16.9   23.1        6.2

In [13]:
solution

   Ti(C)  Tf(C)  deltaT(C)
0   17.2   16.5       -0.7
1   17.5   17.0       -0.5

# Calorimeter

The heat capacity of the water is $4.182 \frac{J}{g \cdot °C}$

$C_{calorimeter} = -\frac{c_{water}}{\Delta T_{water \ cold}}( m_{water \ hot}\Delta T_{water \ hot} +   m_{water cold}\Delta T_{water \ cold}      )$

In [14]:
delta_water_cold = calorimeter["deltaT(C)"]
delta_water_hot = calorimeter["Tc(C)"] + delta_water_cold - calorimeter["Th(C)"]

c_calorimeter =-(  c_water / delta_water_cold     )*( m_water_hot*delta_water_hot + m_water_cold*delta_water_cold  )
mean_c_calorimeter = c_calorimeter.mean().round(2)  #kJ
std_c_calorimeter = round( c_calorimeter.std(),3 )  #kJ

"C calorimeter = "+str(mean_c_calorimeter)+" +- "+str(std_c_calorimeter)+" KJ/°C"

'C calorimeter = 0.04 +- 0.002 KJ/°C'

# Heat of reaction of neutralization

$NaOH + HCl \rightarrow H_2O + NaCl$

$E = -\Delta T ( c_{calorimeter} + m_{solution}c_{water} )$

In standard conditions ( 1 bar of pressure and 298K ) the enthalpy of neutralization is $60 kJ/molHCl$,however, in the laboratory these conditions are not met, since Bogota has a pressure lower than atmospheric pressure and a temperature lower than 298K.

In [15]:
enthalpy = -neutralization["deltaT(C)"] * (c_calorimeter + (m_HCl+m_NaOH)* c_water)
mean_enthalpy = round( enthalpy.mean() , 1 )
std_enthalpy =  round( enthalpy.std() ,2 )

mol_enthalpy = mean_enthalpy / mols_HCl
std_mol_enthalpy = std_enthalpy / mols_HCl

"enthalpy reaction " + str(mean_enthalpy) + " +- " + str(std_enthalpy) + " kJ,   " +  "enthalpy reaction per mol HCl " + str(mol_enthalpy) + " +- " + str(std_mol_enthalpy) + " kJ/mol HCl "

'enthalpy reaction -1.3 +- 0.06 kJ,   enthalpy reaction per mol HCl -65.0 +- 3.0 kJ/mol HCl '

# Enthalpy of solution of $CON_2H_4$

In [16]:
enthalpy = -solution["deltaT(C)"] * (c_calorimeter + m_water_solution * c_water)
mean_enthalpy = round( enthalpy.mean(),2)
std_enthalpy =  round( enthalpy.std() ,2)

mol_enthalpy = round( mean_enthalpy / mols_U)
std_mol_enthalpy = round(std_enthalpy / mols_U)

"enthalpy solution " + str(mean_enthalpy) + " +- " + str(std_enthalpy) + " kJ,   " +  "enthalpy solution per mol of Urea " + str(mol_enthalpy) + " +- " + str(std_mol_enthalpy) + " kJ/mol Urea "

'enthalpy solution 0.13 +- 0.03 kJ,   enthalpy solution per mol of Urea 8 +- 2 kJ/mol Urea '