# Modules

In [1]:
import pandas as pd

# Data

In [2]:
titulationNaOH = pd.read_csv("NaOH.txt")
titulationHCl = pd.read_csv("HCl.txt")

In [3]:
titulationNaOH

   potassium-acid-phthalate(g)  NaOH(L)
0                         0.31   0.0157
1                         0.30   0.0156
2                         0.30   0.0154
3                         0.33   0.0159
4                         0.29   0.0149
5                         0.30   0.0149
6                         0.31   0.0152
7                         0.31   0.0153
8                         0.30   0.0150
9                         0.32   0.0155

In [4]:
titulationHCl

   HCl(L)  NaOH(L)
0    0.01   0.0107
1    0.01   0.0106
2    0.01   0.0106
3    0.01   0.0109
4    0.01   0.0107
5    0.01   0.0107
6    0.01   0.0108
7    0.01   0.0106
8    0.01   0.0105
9    0.01   0.0108

# Titulation $NaOH$

## Quantity($g$) of potassium acid phthalate

$15 \cdot 10^{-3} L \cdot \frac{1 mol}{L} \cdot 1 \cdot 204 g/mol = 3.06g$

In [5]:
NaOH_mols = ( titulationNaOH["potassium-acid-phthalate(g)"] / 204 )
NaOH_M = ( titulationNaOH["potassium-acid-phthalate(g)"] / 204 ) / ( titulationNaOH["NaOH(L)"]  )
mean_NaOH_M = NaOH_M.mean().round(4)

"NaOH mols = (" + str( NaOH_mols.mean().round(4) ) +"+-" + str(   round(NaOH_mols.std(),4)    )+") mols,     Concetration NaOH = (" + str( mean_NaOH_M ) +"+-" +str(     round( NaOH_M.std(),3  )              ) +") M "

'NaOH mols = (0.0015+-0.0001) mols,     Concetration NaOH = (0.0981+-0.003) M '

# Titulation $HCl$

In [6]:
HCl_M = (titulationHCl["NaOH(L)"] * mean_NaOH_M )/ ( titulationHCl["HCl(L)"] )

"Concetration HCl = (" + str( HCl_M.mean().round(3) ) +"+-" +str(     round( NaOH_M.std(),3  )              ) +") M "

'Concetration HCl = (0.105+-0.003) M '